---
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_DATA } from '../constants';

import '../styles/global.css';

const { pageTitle, description = SITE_DATA.description } = Astro.props;
const title = `${SITE_DATA.name}${pageTitle ? ` | ${pageTitle}` : ""}`;
---

<!doctype html>
<html lang="zh-CN">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/x-icon" href={`${import.meta.env.BASE_URL}favicon.ico`} />
		<link rel="shortcut icon" type="image/x-icon" href={`${import.meta.env.BASE_URL}favicon.ico`} />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
		<meta name="description" content={description} />
		<meta property="og:title" content={title} />
		<meta property="og:description" content={description} />
		<meta property="og:type" content="website" />
		<script is:inline>
			const theme = (() => {
				if (typeof localStorage !== 'undefined' && localStorage.getItem('theme')) {
					return localStorage.getItem('theme');
				}
				if (window.matchMedia('(prefers-color-scheme: dark)').matches) {
					return 'dark';
				}
				return 'light';
			})();
		
			if (theme === 'light') {
				document.documentElement.removeAttribute('data-theme');
			} else {
				document.documentElement.setAttribute('data-theme', 'dark');
			}
			window.localStorage.setItem('theme', theme);
		</script>
	</head>
	<body>
	    <Header />
		<main>
			<slot />
		</main>
		<Footer />
		<script>
		  import "../scripts/menu.js";
		  import "../scripts/post-image-lightbox.js";
		</script>
	</body>
</html>
